In [39]:
import glob
import pandas as pd
from datetime import datetime

In [82]:
path = "trip_extract/*.csv"
csv_files = glob.glob(path)

In [83]:
csv_files

['trip_extract\\JC-201801-citibike-tripdata.csv',
 'trip_extract\\JC-201802-citibike-tripdata.csv',
 'trip_extract\\JC-201803-citibike-tripdata.csv',
 'trip_extract\\JC-201804-citibike-tripdata.csv',
 'trip_extract\\JC-201805-citibike-tripdata.csv',
 'trip_extract\\JC-201806-citibike-tripdata.csv',
 'trip_extract\\JC-201807-citibike-tripdata.csv',
 'trip_extract\\JC-201808-citibike-tripdata.csv',
 'trip_extract\\JC-201809-citibike-tripdata.csv',
 'trip_extract\\JC-201810-citibike-tripdata.csv',
 'trip_extract\\JC-201811-citibike-tripdata.csv',
 'trip_extract\\JC-201812-citibike-tripdata.csv']

In [134]:
with open("total_2018.csv", "a") as append_file:
    for csv_file in csv_files:
        for line in open(csv_file, 'r'):
            append_file.write(line)

In [136]:
df = pd.read_csv("total_2018.csv")
len(df.drop_duplicates())

353893

In [137]:
# Convert starttime into a date column to be able to merge later
def dater(starttime):
    if starttime != "starttime":
        date = starttime.split(" ")[0]
        date_fix = date.split('-')[1] + "/" + date.split('-')[2] + "/" + date.split('-')[0]
    else:
        date_fix = []
    return date_fix

In [138]:
df["date"] = [dater(dt) for dt in df.loc[:,'starttime']]

In [140]:
df.ta

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date
353898,1081,2018-12-22 11:51:46.0600,2018-12-22 12:09:47.4730,3694,Jackson Square,40.71113,-74.0789,3269,Brunswick & 6th,40.72601172964625,-74.05038893222809,29586,Subscriber,1993,1,12/22/2018
353899,344,2018-12-25 21:40:09.8660,2018-12-25 21:45:54.2670,3694,Jackson Square,40.71113,-74.0789,3280,Astor Place,40.71928220070702,-74.07126188278198,26241,Subscriber,1983,2,12/25/2018
353900,1233,2018-12-29 12:55:45.9690,2018-12-29 13:16:19.5960,3694,Jackson Square,40.71113,-74.0789,3186,Grove St PATH,40.71958611647166,-74.04311746358871,29294,Subscriber,1988,1,12/29/2018
353901,1057,2018-12-30 15:32:09.3320,2018-12-30 15:49:46.3510,3694,Jackson Square,40.71113,-74.0789,3213,Van Vorst Park,40.71848892,-74.047726625,29475,Subscriber,1991,2,12/30/2018
353902,301,2018-12-31 16:34:11.9340,2018-12-31 16:39:13.8340,3694,Jackson Square,40.71113,-74.0789,3277,Communipaw & Berry Lane,40.71435836870427,-74.06661093235016,26270,Subscriber,1991,1,12/31/2018

In [141]:
df.to_csv('total_2018.csv')